.rowColor {
    background-color: rgb(250, 197, 52) ;
}

.colorDiv {
    background-color:white;
}

h2 {
    color: brown; 
}

h1 {
    color: brown;
}

body {
    background-color: wheat;
}

.button-color {
    background-color: rgb(180, 85, 85);
}

.btn-warning2 {
    background-color: rgb(180, 85, 85);
}


