html, body {height: 100%;}
div.page > header {grid-area: head;}
div.page > section{grid-area: cont;}
div.page > nav {grid-area: menu;}
div.page > footer {grid-area: foot;}
div.page {
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    'head menu'
    'cont cont'
    'foot foot'
    ;
    grid-template-rows: 150px auto 25px;
    grid-template-columns: 600px 200px;
}

